* {
    padding:0px;
    margin:0px;
    font-family:sans-serif;
}
/**********************************************************************************************/
/*Clases*/
.hijosCentrados {
    text-align:center;
}
.hijosALaIzquierda {
    text-align:left;
}
.hijosALaDerecha {
    text-align:right;
}
.width100 {
    width:100%;
}
.floatLeft {
    float:left;
}
.redBackground{
    background-color:red;
}
.botonPuntero{
    cursor:pointer;    
}
.tipo-de-plazas-seleccionada {
    border-top: solid 4px #D4A375;
    border-left: solid 4px #D4A375;
    border-right: solid 4px #D4A375;
    font-weight:bold;
}
.botonLee {
    border: solid 2px #D4A375;
    background-color:white;
    padding:.5vh .7vw .5vh .7vw;
    font-family:sans-serif;
    font-size:1em;
    cursor:pointer;
    /*-webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;     */
}
.botonLee:hover {
    border: solid 2px darkorange;
}
.botonLee:active {    
    border: solid 2px gray;
}
.margenNormal {
    margin-top:2vh;
}
.margenChico {
    margin-top:1vh;
}
.margenGrande{
    margin-top:5vh;
}
.negritas {
    font-weight:bold;
}
.colorBordeAlSeleccionarTipoDePlaza {    
    /*border-color:#999999;      */
    border-color:#7F3300;
}
.txtMicro {
    width:3vw;
}
.txtChico {
    width:12vw;
}
.txtMediano {
    width:20vw;
}
.txtGrande {
    width:35vw;
}
.oculto {
    display:none;
}
.marginIzq {
    margin-left:1vw;
}
.paddingIzq {
    padding-left:3vw;
}
.paddingDer {
    padding-right:3vw;
}
.tblTitulo {
    background-color:#F0E3BF;
    color:#7F3300;
    padding-top:.5vh;
    padding-bottom:.5vh;
    padding-left:.5vw;    
}
.tblContenido {
    border: 1px solid #D4A375;        
    padding-right:.5vw;    
}
.anchoMaximo90 {
    max-width:90%;
}
.mostrarEnDeduc {
    display:none;
}
.mostrarEnFormula {
    display:none;
}
.mostrarImportefijo {
    display:none;
}
.Titulo {  font-family: Arial; font-size: 18pt; color:#7F3300; font-weight: bold; text-transform: uppercase; font-variant:small-caps;}
.TituloMedio {  font-family: Arial; font-size: 15pt; color:#7F3300; font-weight: bold; text-transform: uppercase; font-variant:small-caps;}
.SubTitulo {  font-family: Arial; font-size: 13pt; font-weight: bold; font-variant:small-caps; color:#CC3300; }
.LetraChicaNegrita {  font-family: Arial; font-size: 12pt; color: #7F3300; }
 .container{            
          width: 100%;
         /* height:600px;*/
          overflow-x: hidden;
          overflow-y: auto;
        }
/**********************************************************************************************/
/**********************************************************************************************/
/*Identificadores*/
#contenido-encabezado {
    margin-top:0px;
}
#div-tipo-de-plazas {
    margin-top:2vh;
}
#div-tipo-de-plazas > ul
{
    list-style-type: none;
    line-height: 85%;
}
#div-tipo-de-plazas > ul > li
{
    display:inline-block;
    padding: .5vh .5vw .5vh .5vw;
    /*background-color:gray;*/
}
#lineaTipoPlaza {
    width:40%;
    /*border-top: solid 5px lightgray;        
    border-bottom: solid 5px lightgray;        */
    /*background-color:lightgray;*/
    background-color:#F0E3BF;
    margin:auto;
    padding:2vh ;     
}
#captura-inicial {
    width:60%;
    border:2px solid orange;
    margin:0 auto;    
    margin-top:0vh;
    padding-bottom:2vh;
    display:none;
}

#captura-final {
    width:60%;
    /*height:500px;*/
    border:2px solid orange;
    margin:0 auto;    
    margin-top:1vh;
    padding-bottom:1vh;
    display:none;
}

/**********************************************************************************************/